@model MDL.ExpenseHeadMasterMDL
@{
    ViewBag.Title = "AddEditFeeHead";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .bold {
        font-weight: bold;
    }
</style>

@using (Html.BeginForm("AddEditExpenseHead", "ExpenseHeadMaster"))
{
    @Html.HiddenFor(E => E.PK_ExpenseHeadId)
    <div class="page-heading mb-0">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-md-6 order-md-1 order-last">
                    <h3>Add Edit Expense Head</h3>
                </div>
                <div class="col-12 col-md-6 order-md-2 order-first">
                    <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="">Dashboard</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Add Edit Expense Head</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-content">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-8 offset-lg-1">
                        @*<form class="form form-horizontal">*@
                        <div class="form-body">
                            <div class="row">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                <div class="col-md-3 ClientDiv">
                                    <label class="setForm bold">School Name<span style="color:red">*</span></label>
                                </div>
                                <div class="col-md-7 form-group ClientDiv">
                                    @Html.DropDownListFor(E => E.FK_CompanyId, new SelectList((System.Collections.IEnumerable)ViewData["CompanyList"], "ID", "Value"), "--Select--", new { @class = "form-select select2" })
                                    @Html.ValidationMessageFor(E => E.FK_CompanyId, "", new { @class = "redText", @style = "color:red" })
                                </div>
                                <div class="col-md-3">
                                    <label class="setForm  bold">Fee Head Name<span style="color:red">*</span></label>
                                </div>
                                <div class="col-md-7 form-group">
                                    @Html.TextBoxFor(E => E.ExpenseHeadName, new { @class = "form-control", @maxlength = "100", @placeholder = "Expense Head Name" })
                                    @Html.ValidationMessageFor(E => E.ExpenseHeadName, "", new { @class = "redText", @style = "color:red" })
                                </div>
                                <div class="col-md-3">
                                    <label class="setForm  bold">Status<span style="color:red">*</span></label>
                                </div>
                                <div class="col-md-7 form-group">
                                    @Html.DropDownListFor(E => E.Status, new List<SelectListItem>()
                                                                                          {
                                                                                            new SelectListItem() { Value = "Active", Text ="Active",Selected=true },
                                                                                            new SelectListItem() { Value="InActive", Text="InActive"},

                                                                                          }, new { @class = "form-select select2" })
                                </div>

                                <div class="col-sm-9 d-flex justify-content-end center">
                                    <button type="submit" class="btn btn-primary me-1 mb-1">Submit</button>
                                    <button type="reset" href='@Url.Action("Index")' class="btn btn-light-secondary me-1 mb-1">Reset</button>
                                </div>
                            </div>
                        </div>
                        @*</form>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<link href="~/Select2/css/select2.css" rel="stylesheet" />
<script src="~/Select2/js/select2.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.select2').select2();

    });
</script>
