@model MDL.StudentMasterMDL

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/nanoscroller.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="~/assets/lib/stroke-7/style.css" />
<link rel="stylesheet" type="text/css" href="~/assets/lib/jquery.nanoscroller/css/nanoscroller.css" />
<link href="~/assets/lib/lightbox/css/lightbox.css" rel="stylesheet" />

<div id="main-content">
    <div class="page-heading">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-md-6 order-md-1 order-last">
                    <h3>Student Master</h3>
                </div>

                <div class="col-12 col-md-6 order-md-2 order-first">
                    @if (ViewBag.InvalidLink)
                    {
                        <a style="font:bold;color:red;margin-left:20%;" href="@Url.Action("InValidExportToExcel")">Download Invalid Excel</a>
                    }
                    <a class="btn btn-purple" href="@Url.Action("AddEditStudent")" style="float: right;"><i class="fa fa-plus"></i> Add New</a>

                </div>
            </div>
        </div>
        <section class="section">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col col-lg-5">
                            <div class="form-group">
                                <select class="form-control" id="SearchCreteria">
                                    <option selected="selected" value="">Select</option>
                                    <option value="StudentName">Student Name</option>
                                    <option value="StudentCode">Student Code</option>
                                    <option value="ClassName">Class Name</option>
                                    <option value="ClassCode">Class Code</option>
                                    <option value="Stop">Stoppage</option>
                                </select>
                            </div>
                        </div>
                        <div class="col col-lg-5">
                            <div class="form-group position-relative has-icon-right">
                                <input type="text" class="form-control" id="SearchValue" placeholder="Search Value">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block" onclick="paging(1)">Search</button>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin-top:20px;">
                        <div id="msgDiv">
                            @if (ViewBag.msg != null && (ViewBag.msg).Message_Id == 1)
                            {
                                <div id="myAlert" class="alert alert-success">
                                    <a href="javascript:void(0)" class="close" data-dismiss="alert" aria-label="close" onclick="DivHide()">&times;</a>
                                    <strong>@ViewBag.msg.Message</strong>
                                </div>
                            }
                            else
                            {
                                if (ViewBag.msg != null)
                                {
                                    <div id="myAlert" class="alert alert-danger">
                                        <a href="javascript:void(0)" class="close" data-dismiss="alert" aria-label="close" onclick="DivHide()">&times;</a>
                                        <strong> @ViewBag.msg.Message</strong>
                                    </div>
                                }
                            }
                        </div>
                    </div>

                    <div class="row">
                        @*<div class="col-md-12 excelPdfIcon" id="Export">
                                @using (Html.BeginForm("ExportToExcel", "StudentMaster"))
                                {
                                    <input type="image" class="iconSet" title="Download Excel" src="~/App_Images/excel.jpg" style="float:right;" alt="Submit" id="Excel">
                                }
                                <input type="image" class="iconSet" title="Download PDF" src="~/App_Images/pdf.jpg" alt="Submit" id="PDF">
                            </div>*@
                        <div id="GridDiv">
                            @{Html.RenderAction("GetStudentData"); }
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    @*<footer>
            <div class="footer clearfix mb-0 text-muted">
                <div class="float-start">
                    <p>2022 &copy; SchoolMt</p>
                </div>
            </div>
        </footer>*@
</div>


<div id="myModal1" class="modal fade">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <a class="close" id="lnkIndexUpdate" href="javascript:void(0)" onclick="$('#myModal1').modal('hide');">
                    <img src="~/images/close.png" />
                </a>
                <h4 class="modal-title">Attendant Image</h4>
            </div>
            <div class="img">
                <img id="img" src="" style="margin-left:240px" />
            </div>
        </div>
    </div>
</div>

<script src="~/js/jspdf.debug.js"></script>
<script src="~/js/jspdf.plugin.autotable.js"></script>
<script src="~/js/ExcelPDF.js"></script>
<script src="~/Scripts/jquery.table2excel.js"></script>

<script type="text/javascript">

    $(document).ready(function (e) {
        //debugger
        $('#Export').hide();
        $('#PDF').on('click', function (e) {
            demoFromHTML("data", "STMS Students Detail");
        });

        $(function () {
            paging(1);
            $('#SearchCreteria').change(function () {
                $('#SearchValue').val('');
                if ($('#SearchCreteria').val() == '') {
                    paging(1);
                }

            })
        });
    });
    function paging(currentpage) {
        if (currentpage == NaN || currentpage <= 0) {
            return false;
        }
        $.ajax({

            url:"@Url.Action("GetStudentData", "StudentMaster")",
            type: 'GET',
            cache: false,
            data: { 'CurrentPage': parseInt(currentpage), 'SearchBy': $("#SearchCreteria").val(), 'SearchValue': $("#SearchValue").val() },
            success: function (data) {
                $('#GridDiv').html(data);
                if ($('tbody > tr > td > div').html() == 'No Record Found. '){ $('#Export').hide(); }else{ $('#Export').show(); } //Disable "Export to Excel/PDF" Button if there No Record in table.
                $('.disabled').prop('disabled', true);
            },
        });
        return false;
    }
    function showimage(ImageUrl) {
        $('#img').attr('src', ImageUrl);
        $('#img').attr('height', 100);
        $('#img').attr('width', 100);
        $('#myModal1').modal('show');
    }
</script>